/* This file contains the styling for the html page. */

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	//width: 100%;
}

td, th {
	border: 1px solid #DDD;
	text-align: center;
	padding: 8px;
}

td.data_left {
	text-align: left;
}

#sorting {
	font-style: italic;
}

th {
	background: #AAA;
}

th.ascending {
	background: #7A7;
}

th.descending {
	background: #A77;
}

th:hover {
	color: #555;
	font-style: italic;
}

tr:hover {
	background: #EEE;
}

a {
	text-decoration: none;
}
