table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	//width: 100%;
}

td, th {
	border: 1px solid #DDD;
	text-align: center;
	padding: 8px;
}

td.data_left {
	text-align: left;
}

th {
	background: #AAA;
}
a {
	text-decoration: none;
}
